{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "react-app"
  ],
  "plugins": ["@typescript-eslint", "jest", "react", "prettier", "react-hooks"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "import/no-cycle": "off",
    "no-multi-assign": "off",
    "react/button-has-type": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error", // added "react-hooks/rules-of-hooks"
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "off",
    "object-shorthand": "off",
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "semi": ["error", "never"],
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }] // Use our .prettierrc file as source
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".jsx", ".ts", ".tsx"]
    },
    "import/resolver": {
      "babel-module": {},
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    // Allows for the parsing of modern ECMAScript features
    "ecmaVersion": 2018,
    // Allows for the use of imports
    "sourceType": "module",
    // https://blog.geographer.fr/eslint-parser-services, https://www.robertcooper.me/using-eslint-and-prettier-in-a-typescript-project
    "project": "./tsconfig.json"
  }
}
